
 .lesson { 
    /* background-color: lemon; 
    background-color: rgba(8, 233, 98, 0.83);*/
font-size: 30pt;
} 
.title {color: darkblue;
font-size: 33pt;/*this is a class selector*/
text-align: center;
text-transform: uppercase;

}

/* #email {background-color: goldenrod;}

#github {background-color: lightsteelblue;}

#portfolio {background-color: darkorange;}  */
/* these are id selector */
body {
    background-color: burlywood;
}
img {
    height:500px; /* psuedo ccsheet changes the size of images */
    width:500px;
    margin-left: 576px;
    border-radius: 245px;
}
h2 {
    color:rgb(55, 0, 255) ;
    font-size: 29pt;
    text-align: center;
}
#contact{
    text-align: left;
    font-size: 33pt;
}

li {
/* background-color: firebrick; */
color: aliceblue;

}
/* hgfhfgfyfgtdyhdhdgtdghd */
p {
font-size: 20pt;
text-align: center;
}
#finding{
text-align:left ;
margin-left: 504px ;
}